Repository BetterCallSodium/BetterCallSodium, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, library, tests

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Install libsodium on linux tests
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Install libsodium on linux tests (#8)
  .github/workflows/dotnet-test.yml
Labels: meta

Add s390x and arm64 testing (#7)
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update dotnet-tools.json
  .config/dotnet-tools.json
Labels: none

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update BetterCallSodium.Tests.csproj
  BetterCallSodium.Tests/BetterCallSodium.Tests.csproj
Labels: tests

Update BetterCallSodium.csproj
  BetterCallSodium/BetterCallSodium.csproj
Labels: library

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Rework ilverify support
  .config/dotnet-tools.json
  .github/workflows/dotnet-build.yml
  .github/workflows/dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
  BetterCallSodium.Tests/IlVerifyTests.cs
  BetterCallSodium.Tests/ProcessUtils.cs
  BetterCallSodium/BetterCallSodium.csproj
  BetterCallSodium/External/MonoPInvokeCallbackAttribute.cs
Labels: meta, library, tests

Add ilverify testing (#3)
  .github/workflows/dotnet-build.yml
  BetterCallSodium/BetterCallSodium.csproj
Labels: meta, library

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

.github/labeler.yml:

meta:
 - .github/**/*
 - .editorconfig
 - .gitattributes
 - .gitignore
 - LICENSE.md
 - README.md
library:
 - BetterCallSodium/**/*
 - BetterCallSodium.sln
tests:
 - BetterCallSodium.Tests/**/*
