Repository BetterCallSodium/BetterCallSodium, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, library, tests

.github/labeler.yml:

meta:
 - .github/**/*
 - .editorconfig
 - .gitattributes
 - .gitignore
 - LICENSE.md
 - README.md
library:
 - BetterCallSodium/**/*
 - BetterCallSodium.sln
tests:
 - BetterCallSodium.Tests/**/*

Create dotnet-test.yml
  .github/dotnet-test.yml
Labels: meta

Move file
  .github/workflows/dotnet-test.yml
Labels: meta

Create dotnet-build.yml
  .github/workflows/dotnet-build.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-build.yml
  .github/workflows/dotnet-build.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-build.yml
  .github/workflows/dotnet-build.yml
Labels: meta

Adjust .editorconfig so Visual Studio will recognize settings for .cs files
  .editorconfig
Labels: meta

Update .editorconfig
  .editorconfig
Labels: meta

Add ilverify testing
  .config/dotnet-tools.json
  .github/workflows/dotnet-test.yml
  BetterCallSodium.Tests/IlVerifyTests.cs
  BetterCallSodium.Tests/ProcessUtils.cs
  BetterCallSodium/External/MonoPInvokeCallbackAttribute.cs
Labels: meta, library, tests

Apply suggestions
  .config/dotnet-tools.json
  BetterCallSodium.Tests/ProcessUtils.cs
Labels: tests

Add .editorconfig to the sln
  BetterCallSodium.sln
Labels: library

Update BetterCallSodium.csproj
  BetterCallSodium/BetterCallSodium.csproj
Labels: library

Add readme too
  BetterCallSodium.sln
Labels: library

Add .editorconfig and readme to the sln (#4)
  BetterCallSodium.sln
Labels: library

Create dotnet-format
  .github/workflows/dotnet-format
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Create dotnet-format (#5)
  .github/workflows/dotnet-format
Labels: meta

Rename dotnet-format to dotnet-format.yml
  .github/workflows/dotnet-format.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Update dotnet-test.yml
  .github/workflows/dotnet-test.yml
Labels: meta

Fix csproj formatting
  .editorconfig
  BetterCallSodium.Tests/BetterCallSodium.Tests.csproj
Labels: meta, tests

Fix csproj formatting (#6)
  .editorconfig
  BetterCallSodium.Tests/BetterCallSodium.Tests.csproj
Labels: meta, tests

Update IlVerifyTests.cs
  BetterCallSodium.Tests/IlVerifyTests.cs
Labels: tests

Add armv7 and arm64 testing
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

Update qemu-dotnet-test.yml
  .github/workflows/qemu-dotnet-test.yml
Labels: meta
