Repository BetterCallSodium/BetterCallSodium, pull requests merged in 2022-08, with the labels that each got.

#1 Visual Studio recognizes .editorconfig file
  .editorconfig
Labels: meta

#4 Add .editorconfig and readme to the sln
  BetterCallSodium.sln
Labels: library

#5 Create dotnet-format
  .github/workflows/dotnet-format
Labels: meta

#6 Fix csproj formatting
  .editorconfig
  BetterCallSodium.Tests/BetterCallSodium.Tests.csproj
Labels: meta, tests

#8 Install libsodium on linux tests
  .github/workflows/dotnet-test.yml
Labels: meta

#7 Add s390x and arm64 testing
  .github/workflows/qemu-dotnet-test.yml
Labels: meta

#3 Add ilverify testing
  .github/workflows/dotnet-build.yml
  BetterCallSodium/BetterCallSodium.csproj
Labels: meta, library
